<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript" src="/static/js/head.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/contractCreate.css"/>
</head> 
<body>
<div align="center" style="width:100%">
	<fieldset>
		<legend>创建合同</legend>
		<form id="addForm">
		<input id="id" name="id" type="hidden"></input>
			<table class="tableForm">
				<tr>
					<td class="formLeft">区域:</td>
					<td class="formRight">
						<input class="easyui-validatebox" name="pushtype" id="pushtypeAdd">
					</td>
				</tr>
				<tr>
					<td class="formLeft">甲方名称:</td>
					<td class="formRight">
						<input class="easyui-validatebox" name="pushpositioncode" id="pushpositioncodeAdd"></input>
					</td>
				</tr>
				<tr>
					<td class="formLeft">中标单位:</td>
					<td class="formRight">
						<input class="easyui-validatebox" name="acceptpositioncode" id="acceptpositioncodeAdd">
					</td>
				</tr>
				<tr>
					<td class="formLeft">合同编号:</td>
					<td class="formRight">
						<input class="easyui-validatebox" name="acceptpositioncode" id="acceptpositioncodeAdd">
					</td>
				</tr>
				<tr>
					<td class="formLeft">合同名称:</td>
					<td class="formRight">
						<input class="easyui-validatebox" name="acceptpositioncode" id="acceptpositioncodeAdd">
					</td>
				</tr>
				<tr>
					<td class="formLeft">合同金额:</td>
					<td class="formRight">
						<input class="easyui-validatebox" name="acceptpositioncode" id="acceptpositioncodeAdd">
					</td>
				</tr>
			</table>
			<div>
				<a id="insert" class="easyui-linkbutton" data-options="iconCls:'icon-ccSearch'">保存</a>
				<a id="resetbtn" style="margin-left:40px" onclick="reset()" class="easyui-linkbutton" data-options="iconCls:'icon-ccReload'">重置</a>
			</div>
		</form>
	</fieldset>
</div>
</body>
</html>
<script>
$(function(){
	//点击事件
	clickFunction();
});
function clickFunction(){
		//重置按钮
		$('#resetbtn').click(function(){
			$('#addForm').form('clear');
			$("#acceptpositioncodeAdd").combobox({disabled:true});
		});
		//保存按钮
		$('#insert').click(function(){
			
			addInfo();
		});
	}
		//添加信息
		function addInfo(){
			if($("#addForm").form('validate')){
				$.ajax({
					url:'',
					type:'POST',
					data:$("#addForm").serialize(),
					error:function(){
						$.messager.alert("提示","数据操作存在异常!");
						
					},
					success:function(data){	
						if(data.success){
							$('#addForm').form('clear');
						}else{
						}
							$.messager.alert("提示",data.message);
						
					}
				});
			}
		}
</script>