<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="/static/js/head.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
</head>
<body>
	<div class="header">
	</div>
	<div class="denglu">
		<input class="name" type="text" id="username" name="username" />
		<input class="password" type="password" id="password" name="password" />
		<div class="btn" id="loginbtn"></div>
	</div>
<script type="text/javascript">
var host = "http://124.239.148.161:18080";
	$('#loginbtn').click(function() {
			var username = $('#username').val();
			var password = $('#password').val();
			if (username != null && username != "" && password != null && password != "") {
					$.ajax({
						url : host+"/user/login",
						type : "post",
						data : {
							username : username,
							password : password
							}, 										
						async : false,
						dataType : "json",
						contentType: 'application/json;charset=UTF-8',
						success : function(data) {
							console.log(data)
							console.log(data.code)
							if (data.code==200&&typeof(data.data) == "object"&&typeof(data.data.user) == "object"&&data.data.user.id>0) {
								window.location.href = "/view/index.html";
							} else{
								$.messager.alert("提示",data.message);
								$('#username').focus();
								$('#password').focus();
							}
						}
						});
			} else {  							
				$.messager.alert("提示","请输入账号密码！");
				$('#username').focus();
				$('#password').focus();
			}
});
	$(document).keydown(function(event){ 
		var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
		if(keyCode==13){
			$("#loginbtn").click(); 
		}
	});

</script>
</body>
</html>