.header{
	height:55px;
	padding:10px;
	background-image:url("/static/images/index_bg.png");
	background-repeat:repeat-x;
}
.header img{
	margin-left:10px;
	height:90%;
	float: left;
}
.panel-icon {
    left: 22px;
    width: 16px;
}
.panel-title {
    font-size: 14px;
    font-family:"Î¢ÈíÑÅºÚ";
    color: #333;
    height: 18px;
    line-height: 30px;
    margin-left:25px;
    font-weight:normal;
}
.accordion .accordion-header {
    background: #e6e6e6;
}
.panel-header, .panel-body {
    border-color: #dddddd;
}
.accordion-collapse {
    background: url('/static/images/accordion_arrows2.png') no-repeat 0 0;
}
.accordion-expand {
    background: url('/static/images/accordion_arrows1.png') no-repeat 0 0;
}
.accordion .accordion-header{
	height:30px;!important
}
.l-btn-text {
    line-height: 26px;
    font-size: 14px;
    font-family:"Î¢ÈíÑÅºÚ";
}
.easyui-accordion .easyui-linkbutton{
	margin-top:10px;
	margin-left:16px;
	matgin-right:16px;
	width: 200px;
    text-align: left;
}
.layout-split-west {
    border-right: 0px;
}
#content{
    background-position: center;
    background-repeat:no-repeat;
	background-image:url("/static/images/welcome.png");
}
.smallCircle {
	width: 50px;
	height: 90%;
	line-height: 55px;
	display: inline-block;
	text-align: center;
	background-color: #dcbe94;
	color: white;
	border: 0px solid #ddd;
	border-radius: 30px;
	background-clip: padding-box;
	margin-left:2%;
	float: right;
}
.userinfo{
	margin-left:00%; 
	float: right;
	height: 90%;
	line-height:55px; 
	width:80px; 
	font-size: 16px;
	color:#333;
	font-family:"Î¢ÈíÑÅºÚ";
}