.searchTable{
	margin:20px 2px;
	width:100%;
}
.searchTable tr{
	height:40px;
}
.searchLeft{
	height:30px;
	width:35%;
	font-family:"Î¢ÈíÑÅºÚ";
	font-size:13px;
}
 .formLeft{
 	width:100px;
 	float:right;
 }
 .searchRight input {
	width: 150px;
}