.searchTable{
	margin:20px 2px;
	width:100%;
}
.searchTable tr{
	height:40px;
}
.searchLeft{
	height:30px;
	width:35%;
	font-family:"Î¢ÈíÑÅºÚ";
	font-size:14px;
}
.searchRight input{ 
 	width:95%;
}
.formLeft{
 	width:60px;
 	float:right;
}
.checkbox-div{
 	height:25px;
 	line-height:25px;
}
.checkbox-input{
	vertical-align: middle;
}